@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
}
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

body{
    margin: 0;
    padding: 0;  
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

header{
    display: flex;
    justify-content: center;
    background-color: #F5F6F7;
}
.header-bar{
    margin-top: 31px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: flex-end;
    width: 1210px;
    height: 50px;
}

@media screen {
    .header-bar {
        left: 115px;
    }
}
.header-logo{
    display: block;
    position: absolute;
    margin-top: 31px;
    margin-left: 170px;
    width: 130px;
    height: 47px;
}
.top_buttons{
    display: flex;
    margin: 0;
    padding-right: 55px;
    width: 410px;
    height: 50px;
    list-style-type: none;
}
.nav_button, .nav_button:visited{
    text-decoration: none;
    display: block;
    margin-right: 17px;
    border-radius: 8px;
    padding: 16px 26px;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    background-color: #F5F6F7;
    color: #0F2336;
}



.nav_button_black, .nav_button_black:visited{
    background-color: #0F2336;
    color: #FFFFFF;
    margin-right: 0;
}


.upper-page{
    display: flex;
    height: 690px;
    background-color: #F5F6F7;
    justify-content: center;
}

.main-text{
    padding-top: 70px;
    padding-left: 170px;
    width: 557px;
    height: 475px;
}

.main-agitation{
    padding-top: 100px;
    font-weight: bold;
    font-size: 55px;
    line-height: 76px;
    letter-spacing: 1.11px;
    color: #0F2336;
}

.agit-small {
    font-size: 30px;
}
.agit-cyan {
    color: #00CCCC;
}

.agit-orange {
    color: #F3AF47;
}

.upper-people_img{
    position: absolute;
    margin-left: 245px;
    height: 690px;
    width: 800px;
}

.discover_button, .discover_button:visited{
    text-decoration: none;
    display: flex;
    margin-top: 50px;
    width: 187px;
    border-radius: 14px;
    padding: 19px;
    padding-left: 21px;
    padding-right: 0;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    background-color: #00CCCC;
    color: #0F2336;
    box-shadow: 0px 3px 18px rgba(0, 201, 201, 0.55);
}

.discover_arrow{
    padding-left: 15px;
}
.benefits{
    display: flex;
    height: 409px;
    align-items: center;
    margin-left: 130px;
    justify-content: center;
}

.benefits_list{
    display: flex;
    list-style-type: none;
    margin-right: 100px;
}

.benefits_list li{
    width: 325px;
    height: 240px;
    padding-left: 50px;
}

.benefits_add_txt{
    margin-top: 12px;
    font-weight: normal;
    padding-right: 30px;
    font-size: 16px;
    line-height: 24px;
    color: #576D81;
}

.benefits_main_txt{
    margin-top: 30px;
    font-weight: bold;
    font-size: 25px;
    line-height: 32px;
    color: #0F2336;
}

.how_it_works{
    background-color: #F5F6F7;
    width: 1140px;
    height: 540px;
    border-radius: 50px;
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 220px;
}

.iphone_hiw_img{
    display: block;
    z-index: 2;
    position: absolute;
    margin-left: 155px;
    margin-top: -50px;
}

.screen_hiw_img{
    display: block;
    z-index: 1;
    position: absolute;
    margin-left: 177px;
    margin-top: -32px;
}

.coffe_hiw_img{
    display: block;
    z-index: 0;
    position: absolute;
    margin-left: 30px;
    margin-top: 115px;
}
.chips_hiw_img{
    display: block;
    z-index: 3;
    position: absolute;
    margin-left: 383px;
    margin-top: 481px;
}

.hiw_text{
    display: block;
    width: 420px;
    height: 326px;
    margin-left: 560px;
    padding-top: 121px;
}

.hiw_small_txt{
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #576D81;
}

.hiw_big_txt{
    margin-top: 22px;
    font-weight: 900px;
    font-size: 40px;
    line-height: 55px;
    color: #0F2336;
    width: 195px;
}

.hiw_main_txt{
    width: 414px;
    margin-top: 21px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #576D81;
    padding-bottom: 50px;
}

.full_width{
    width: 1360px;
    margin: 0 auto;
}

.loyalty_program{
    display: flex;
    justify-content: center;
    height: 527px;
    background-color: #F5F6F7;
    margin-bottom: 180px;
}

.discoundts_lady{
    display: block;
    position: absolute;
    margin-left: 675px;
    margin-top: -100px;
}

.loyalty_list{
    display: flex;
    list-style-type: none;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
}

.loyalty_list li{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 8px;
    width: 455px;
    height: 179px;
    background: #FFFFFF;
    box-shadow: 0px 8px 32px rgba(15, 35, 54, 0.06);
}

.loyalty_card{
    margin-left: 100px;
    margin-top: -35px;
}
.exclusive_card{
    margin-left: 135px;
    margin-top: 30px;
}

.tpass_card{
    margin-left: 100px;
    margin-top: 30px;
}

.loyalty_headers{
    font-weight: bold;
    font-size: 25px;
    line-height: 25px;
    letter-spacing: 0.2px;
    color: #0F2336;
    margin-top: 38px;
}

.loyalty_texts{
    font-weight: normal;
    width: 326px;
    font-size: 16px;
    line-height: 24px;
    color: #576D81;
    margin-left: 98px;
    margin-bottom: 43px;
}

.loyalty_icons{
    margin-left: 25px;
    margin-top: 25px;
    margin-right: 23px;
}

.friends{
    background-color: #F5F6F7;
    width: 1140px;
    height: 540px;
    border-radius: 50px;
    display: block;
    margin-top: 180px;
    margin: 0 auto;
}

.friends_berries_img{
    display: block;
    z-index: 0;
    position: absolute;
    margin-left: 593px;
    margin-top: 474px;
}

.friends_coffe_img{
    display: block;
    z-index: 1;
    position: absolute;
    margin-left: 962px;
    margin-top: 113px;
}

.friends_iphone_img{
    display: block;
    z-index: 4;
    position: absolute;
    margin-left: 695px;
    margin-top: -50px;
}

.friends_screen_img{
    display: block;
    z-index: 3;
    position: absolute;
    margin-left: 717px;
    margin-top: -32px;
}

.friends_text{
    display: block;
    width: 420px;
    height: 264px;
    margin-left: 140px;
    padding-top: 129px;
}

.friends_small_txt{
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #576D81;
}

.friends_big_txt{
    margin-top: 37px;
    font-weight: 900px;
    font-size: 40px;
    line-height: 55px;
    color: #0F2336;
    width: 330px;
}

.friends_main_txt{
    width: 404px;
    margin-top: 21px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #576D81;
    padding-bottom: 50px;
}

.friends_bar{
    margin-top: 27px;
    margin-left: 138px;
}

.links{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 570px;
    height: 383px;
    margin: 0 auto;
    padding-top: 164px;
}

.links_big_txt{
    padding-top: 23px;
    width: 519px;
    font-weight: 900;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    color: #0F2336;
}

.links_form{
    display: flex;
    margin-top: 20px;
}

.links_form_input{
    padding: 16px;
    border: 0;
    padding-left: 90px;
    padding-right: 90px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: rgba(0, 0, 0, 0.35);
    text-decoration: none;
    display: block;
    border-radius: 6px;
    background-color: #F5F6F7;
    margin-right: 20px;
}

.links_form_button{
    border: 0;
    text-decoration: none;
    width: 156px;
    border-radius: 14px;
    padding: 16px;
    padding-left: 36px;
    padding-right: 35px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    background-color: #00CCCC;
    color: #0F2336;
}

.links_buttons{
    display: flex;
    margin-top: 20px;
}
.appstore_button{
    display: block;
    width: 185px;
    height: 60px;
    margin-right: 24px;
    border-radius: 8px;
    background-color: #0F2336;
}

.appstore_img{
    margin-left: 33px;
    margin-top: 16px;
}

footer{
    justify-content: center;
    height: 297px;
    margin-top: 110px;
    background-color: #0F2336;
}

.footer_leaf1_img{
    float: left;
    margin-top: -60px;
}

.footer_leaf2_img{
    float: right;
    margin-top: 35px;
}

.footer-logo{
    display: block;
    position: absolute;
    margin-left: 255px;
    margin-top: 55px;
}

.about_box{
    width: 530px;
    height: 112px;
    display: flex;
    justify-content: space-around;
    margin-left: 600px;
    padding-top: 85px;
}

.about_list{
    display: block;
    list-style-type: none;
}

.about_headers{
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #00CCCC;
    margin-bottom: 13px;
}

.about_list_text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.39px;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
}

.about_text_li{
    margin-bottom: 5px;
}

.about_headers_li{
    margin-bottom: 13px;
}